# Buildout sources and download urls
# ====================

[component-versions]
haproxy   = 1.6.4
nginx     = 1.10.0
varnish   = 4.1.2

[downloads]
haproxy   = http://www.haproxy.org/download/1.8/src/haproxy-1.8.4.tar.gz
nginx     = http://nginx.org/download/nginx-1.13.10.tar.gz
pcre      = http://downloads.sourceforge.net/project/pcre/pcre/8.39/pcre-8.39.tar.gz
varnish   = https://varnish-cache.org/_downloads/varnish-6.0.0.tgz
openssl	  = https://www.openssl.org/source/openssl-1.1.0g.tar.gz
